# LifyX CODEOWNERS

# Default owner for the entire repository
* @LifyX-Exchange

# Source code
/src/ @LifyX-Exchange

# Documentation
*.md @LifyX-Exchange

# Security policy
SECURITY.md @LifyX-Exchange

# License
LICENSE @LifyX-Exchange
